<!DOCTYPE html>
<html lang='en'>

    <head>
        <title>Mess Menu</title>
        {% load static %}
        <link rel=stylesheet href='{% static "messmenu/stylemenu.css"%}'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <body>
    <div class='topheader'><a href="{% url 'mainpage:index' %}"><b>Car Dealership System</b></a></div>
        <div class='menu'>Cars Available</div>
        
        <form class='details' method="post">
            {% csrf_token %}
            {{ form }}
            <button type='submit' class='btn btn-primary' id='butn'>Submit</button>
        </form>
        
            <div class="edit">
                <table class="table table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Vehicle Name</th>
                            <th>Vehicle Type</th>
                            <th>Vehicle Model</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for car in cars %}
                            <tr>
                                <td>{{ car.vehname }}</td>
                                <td>{{ car.vehtype }}</td>
                                <td>{{ car.vehmodel }}</td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        
        
    </body>
</html>